# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据集（关键：忽略原始数据）
data/dataset/
data/images/
data/labels/

# 输出文件（避免上传大体积结果）
runs/
outputs/
cropped_results/
detect_result/
patch_vis/
upper_detect_result/

# 模型权重（可选，大权重放 DVC/外链）
*.pt
*.pth

# 系统缓存
.DS_Store
*.log
.idea/
.vscode/